.meter {
  margin: auto;
  margin-right: 0;
  margin-left: 30px;
  height: 25px;
  min-width: 100px;
  position: relative;
  background: #555;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 3px; }

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #2bc253;
  position: relative;
  overflow: hidden; }

@keyframes move {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 50px 50px; } }

.meter > span {
  animation: move 2s linear infinite; }

/*Languages Flags*/
#setEs, #setEn {
  background: transparent;
  border: none;
  font-size: 1em;
  font-weight: bold;
  color: white; }

#setEs:hover, #setEn:hover,
#setEs:focus, #setEn:focus {
  transform: scale(1.1); }

/*Font Buttons */
#standarFont {
  font-family: 'Montserrat', sans-serif !important; }

#dyslexicFont {
  font-family: "OpenDyslexic" !important; }

#standarFont, #dyslexicFont {
  color: white;
  background: transparent;
  border: none;
  font-size: 100%; }

#standarFont:hover, #dyslexicFont:hover,
#standarFont:focus, #dyslexicFont:focus {
  transform: scale(1.1); }
