$back-color: rgba(255, 255, 255, 0.7);
$cube-1: #ff595e;
$cube-2: #ffca3a;
$cube-3: #06d6a0;
$cube-4: #1982c4;
$cube-5: #6a4c93;
$cube-6: #8ac926;
$pattern-1: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%2363530e' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
$pattern-2: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
$pattern-3: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%2305b688' fill-opacity='0.51'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.51'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
$pattern-4: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%2321a9ff' points='120 120 60 120 90 90 120 60 120 0 120 0 60 60 0 0 0 60 30 90 60 120 120 120 '/%3E%3C/svg%3E");
$pattern-5: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%236f4f99' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%238660ba' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%236f4f99' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%238660ba' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%239e71db' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%236f4f99' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%238660ba' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%239e71db' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%238660ba' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%236f4f99' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%239e71db' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%236f4f99' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%239e71db' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%238660ba' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%239e71db' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
$pattern-6: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%2398de2a' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%2398de2a' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
$navigation-menu-color: rgba(255, 255, 255, 1);

@import './componentsStyles.scss';
@import 'https://cdn.clarkhacks.com/OpenDyslexic/v1/OpenDyslexic.css';

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-size: 20px;
}
body{
    margin: auto;
    height: 100%;
    background-color: $back-color;
}
#wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
}
#navigation-menu{
    position: fixed;
    width: 100%;
    height: 20px;
    background: $navigation-menu-color;
}
#complete-cube{
    margin: 20px;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    transition: all .8s ease;
    z-index: -1;
}
button{
    position: absolute;
    bottom: -50px;
    left: calc(50% - 50px);
    width: 100px;
    height: 50px;
    border-radius: 0 0 50% 50%;
}
main{
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 13vh);
    grid-gap: 15px;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
.nav-cube{
    padding: 1em;
    transition: all .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.nav-cube:hover, .nav-cube:focus{
    transform: scale(.99);
    font-size: 1.1em;
    opacity: .95;
}
  
#cube-1{
    background-color: $cube-1;
    background-image: $pattern-2;
    grid-column: 1/7;
  }
#cube-2{
    background-color: $cube-2;
    background-image: $pattern-1;
    grid-column: 1/7;
}
#cube-3{
    background-color: $cube-3;
    background-image: $pattern-3;
    grid-column: 1/7;
}
#cube-4{
    background-color: $cube-4;
    background-image: $pattern-4;
    grid-column: 1/7;
}
#cube-5{
    background-color: $cube-5;
    background-image: $pattern-5;
    grid-column: 1/7;
}
#cube-6{
    background-color: $cube-6;
    background-image: $pattern-6;
    grid-column: 1/7;
}
/*Clases for animations*/
.all-as-cube-1{
    background-color: $cube-1;
}
.all-as-cube-2{
    background-color: $cube-2;
}
.all-as-cube-3{
    background-color: $cube-3;
}
section{
    color: white;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
}
#info-cube-2{
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    
}


.show-info{
    visibility: visible;
    transition: all .2s ease;
}
.hide-info{
    visibility: hidden;
    transition: all .2s;
}
/*Responsive classes
.d-sm-hide{
    display: none;
}
.d-show{
    display: flex;
}
.d-hide{
    display: none;
}*/
#info-cube-1{
    background-image: $pattern-2;
}
#info-cube-2{
    background-image: $pattern-1;
}
#info-cube-3{
    background-image: $pattern-3;
}
#info-cube-4{
    background-image: $pattern-4;
}
#info-cube-5{
    background-image: $pattern-5;
}
#info-cube-6{
    background-image: $pattern-6;

}
.skills-list{
    list-style: none;
    padding: 0;
}
.skills-list > li {
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.config-list{
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}
.config-list li {
    display: flex;
    flex-flow: row wrap;
}
.config-list li a {
    text-decoration: none;
}
#dyslexic{
    font-family: "OpenDyslexic";
}
.spanish-icon{
    background: url('../icons/001-spain.svg');
}
.english-icon{
    background: url('../icons/002-united-kingdom.svg');
}
.spanish-icon, .english-icon{
    display: block;
    text-indent: -9999px;
    width: 100px;
    height: 82px;
    background-size: 100px 82px;
}





// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    main{
        grid-template-rows: repeat(3, 1fr);
    }
    #cube-1{
        grid-column: 1/4;
    }
    #cube-2{
        grid-column: 4/7;
    }
    #cube-3{
        grid-column: 1/4;
    }
    #cube-4{
        grid-column: 4/7;
    }  
    #cube-5 {grid-column: 1/4;}
    #cube-6{grid-column: 4/7;}

    .d-sm-show{
        display: flex;
    }
    .d-show{
        display: none;
    }

 }
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    main{
        grid-template-rows: repeat(2, 1fr);
    } 
    #cube-1{
        grid-column: 1/3;
    }
    #cube-2{
        grid-column: 3/5;
    }
    #cube-3{
        grid-column: 5/7;
    }
    #cube-4{
        grid-column: 1/3;
    }
    #cube-5 {grid-column: 3/5;}
    #cube-6{grid-column: 5/7;}
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }